# Random Forest
Data : bankloan.csv
- Apply Random Forest
    - target : default
    - features : age, employ, debtinc, creddebt, othdebt
- Splitting retio 80:20 stratified
- Apply Random Forest n_estimator 20, max features 4, max depth 3
- Compute precision, recall, f1 score in test

## Import Library

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split

from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,recall_score,precision_score

## Read Dataset

In [11]:
bankloan = pd.read_csv('bankloan.csv')

In [12]:
bankloan

     age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0     41   3      17       12     176      9.3  11.359392  5.008608        1
1     27   1      10        6      31     17.3   1.362202  4.000798        0
2     40   1      15       14      55      5.5   0.856075  2.168925        0
3     41   1      15       14     120      2.9   2.658720  0.821280        0
4     24   2       2        0      28     17.3   1.787436  3.056564        1
..   ...  ..     ...      ...     ...      ...        ...       ...      ...
695   36   2       6       15      27      4.6   0.262062  0.979938        1
696   29   2       6        4      21     11.5   0.369495  2.045505        0
697   33   1      15        3      32      7.6   0.491264  1.940736        0
698   45   1      19       22      77      8.4   2.302608  4.165392        0
699   37   1      12       14      44     14.7   2.994684  3.473316        0

[700 rows x 9 columns]

In [13]:
fitur = ['age','employ','employ', 'debtinc', 'creddebt', 'othdebt']
target = ['default']

In [14]:
X = bankloan[fitur]
y = bankloan[target]

## Data Splitting

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    stratify = y, # stratified random sampling
    test_size = 0.2, 
    random_state = 2020) # make the result consistent

## Apply Random Forest n_estimator 20, max features 4, max depth 3

In [16]:
rf = RandomForestClassifier(n_estimators = 20, max_features = 4, max_depth = 3)
rf.fit(X_train, y_train)

<ipython-input-16-3517537402ba>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=3, max_features=4, n_estimators=20)

## Compute precision, recall, f1 score in test

In [17]:
y_pred = rf.predict(X_test)

In [18]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.82      0.93      0.87       103
           1       0.70      0.43      0.53        37

    accuracy                           0.80       140
   macro avg       0.76      0.68      0.70       140
weighted avg       0.79      0.80      0.78       140

In [21]:
print(precision_score(y_test,y_pred))

0.6956521739130435