# Basic Syntax

In [8]:
a = 8
print (a+2)

10

In [9]:
b = 10
print(b)

10

In [5]:
print("Hello world!")

Hello world!

# Data Type

## Integer

In [6]:
#Integer 

print(123123123123123123123 + 1)

123123123123123123124

In [8]:
angka = 123123123123123123123 + 1
print(angka)
print(type(angka))

123123123123123123124
<class 'int'>

In [2]:
a = 8
print(a)
print(type(a))

8
<class 'int'>

## Floating-Points Number

In [9]:
# Floating number

print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [10]:
print(4.)
print(.2)
print(.4e7)
print(type(.4e7))
print(4.2e-4)

4.0
0.2
4000000.0
<class 'float'>
0.00042

## Strings

In [11]:
print("hacktiv 8")
print(type("hacktiv8"))

hacktiv 8
<class 'str'>

In [12]:
print('')
print("")

In [1]:
a = 'hacktiv8'
print(a)
print(type(a))

hacktiv8
<class 'str'>

In [2]:
a = '8'
print(a)
print(type(a))

8
<class 'str'>

In [4]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [5]:
print('This string contains a single quote (') character.)
#print('This string contains a single quote (') #This string contains a single quote (

SyntaxError: invalid syntax (<ipython-input-5-b3ae1e8d48e5>, line 1)

In [15]:
print("This string contains a single quote (\') character.")

This string contains a single quote (') character.

In [16]:
print("This string contains a single quote (\") character.") 
#This string contains a single quote (") character.

print("This string contains a single quote \" character.") 
#This string contains a single quote " character.

This string contains a single quote (") character.
This string contains a single quote " character.

## Boolean

In [17]:
#Boolean
print(type(True))

<class 'bool'>

In [18]:
print(type(False))

<class 'bool'>

## Python interprets a sequence of decimal digits without any prefix to be a decimal number:

In [2]:
# Python interprets a sequence of decimal digits without any prefix to be a decimal number:

print(0.1)
print(type(0.1))

0.1
<class 'float'>

## Variable Assignment

In [19]:
#Variable Assignment

n = 300
print(n)

300

In [20]:
n

300

In [21]:
a = 30
a #kalau mau diprint a nya harus pake print(a)
b = 20
b

20

In [22]:
n = 1000
# print(n) #comment
n

1000

In [23]:
a = b = c = d = 1200

In [24]:
print(a)
print(b)
print(c)
print(d)

1200
1200
1200
1200

In [25]:
print(a, b, c ,d)

1200 1200 1200 1200

## Variable type in python (dynamic)

In [26]:
#Variable type in python (dynamic)

var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [27]:
var = 23.5
print(var)
print(type(var))

var = "Now I'm a string"
print(var)
print(type(var))

23.5
<class 'float'>
Now I'm a string
<class 'str'>

## Variable Names

In [28]:
name = "ANI"
name

'ANI'

In [29]:
NAME = "ANITA"
print(name)

ANI

In [30]:
print(name)
print(NAME)

ANI
ANITA

In [31]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [32]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (<ipython-input-32-737512de54da>, line 1)

In [33]:
kepala_naga_9 = True

In [34]:
kepala_naga_9

True

In [35]:
camelCase = 'ex camel case'
PascalCase = 'ex pascal case'
Snake_Case = 'ex snake case'

In [36]:
numberOfCollegeGraduates = ''
NumberOfCollegeGraduates = ''
number_of_college_graduates = ''

# Operator and Expression in python

In [37]:
#Operator and Expression

a = 10
b = 20
a + b #print(a+b)

30

In [38]:
a + b - 5

25

# Aritmathetic Operator

In [39]:
# Aritmathetic Operator

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b) #division #1.333
print(a // b) #integer division #1
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
1
64

In [40]:
a = 9
b = 2

print(a+b)
print(a-b)
print(a*b)
print(a/b) #division 
print(a//b) #integer division 
print(a%b)
print(a**b)

11
7
18
4.5
4
1
81

In [41]:
10 / 2

5.0

In [42]:
8/4

2.0

In [43]:
print(type(8/4))

<class 'float'>

# Integer Division

In [44]:
# integer division 
print(8//3)
print(type(8//3))

2
<class 'int'>

# Comparison Operator

In [45]:
# Comparison Operator
a = 10 
b = 20

print(a == b) # False
print(a != b) # True
print(a <= b) # True
print(a >= b) # True

False
True
True
False

# String Manipulation

In [46]:
#String Manipulation

# +Operators :: concatenate/menggabungkan
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t) #foobar

print(s + t + u) #foobarbaz

foobar
foobarbaz

In [47]:
print('Hacktive8 ' + 'Inalum')

Hacktive8 Inalum

In [48]:
stu = s + t + u
stu

'foobarbaz'

In [49]:
concantenated_string = 'Hacktiv8' + stu
concantenated_string

'Hacktiv8foobarbaz'

In [50]:
concantenated_string = 'Hacktiv8 ' + stu
concantenated_string

'Hacktiv8 foobarbaz'

In [51]:
# concantenated_string = concantenated_string + 'Inalum' 
concantenated_string += 'Inalum'
concantenated_string

'Hacktiv8 foobarbazInalum'

## In operators

In [52]:
# * Operators

s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [53]:
s * 10

'foo.foo.foo.foo.foo.foo.foo.foo.foo.foo.'

In [54]:
# in Operators

s = 'foo'
print(s in 'That food for us')
#   'foo'
print(s in 'That good for us')

True
False

In [55]:
# in Operators

s = 'foo'
print(s in 'That good for us')
#   'foo'

False

In [56]:
# in Operators

s = 'goo'
print(s in 'That good for us')
#   'goo'

True

# Case Conversion

In [57]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

## .capitalize() vs .title()

In [58]:
# .capitalize() vs .title()

s = 'hello world'
print('Capitalized ', s.capitalize())
print('Titled ', s.title())

Capitalized  Hello world
Titled  Hello World

# Python Lists

In [59]:
#Python Lists
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [60]:
print(a[0])

foo

In [61]:
print(a[1])
print(a[2])
print(a[3])

bar
baz
qux

In [62]:
print(a[4])

IndexError: list index out of range

## Python Lists - negative indices

In [ ]:
#Python Lists - negative indices
a = ['foo', 'bar', 'baz', 'qux']

print(a[-1]) #last element
print(a[-2])
print(a[-3])
print(a[-4])

In [63]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [64]:
a = ['foo', 'bar', 'baz', 'qux']
# b = ['foo', 'qux', 'bar', 'foo']
# b = ['foo', 'bar', 'bar', 'foo']
# b = ['foo', 'bar', 'baz', 'foo']
b = ['foo', 'bar', 'baz', 'qux']
# b = ['foo', ' bar', 'baz']
a == b

True

## List can contain an arbitrary object

In [65]:
#List can contain any arbiitrary obj
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

## Slicing

In [ ]:
#SLicing
a[m:n] #--> index
a[2:5] #--> dari indeks ke-2 sampai indeks sebelum indeks ke-5
2,3,4

In [67]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [68]:
a[3:6] # 3, 4, 5

['qux', 'quux', 'corge']

In [69]:
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [70]:
print(a + ['grault', 'garply'])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

## len min max

In [71]:
#len min max

coins = [12, 300, 45, 100, 4, 90, 87]
len(coins)

7

In [72]:
min(coins)

4

In [73]:
max(coins)

300

## Modifying multiple list values

In [74]:
#Modifying multiple list values

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

['bar', 'baz', 'qux']

In [75]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

In [76]:
print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Tuples : Immutable

In [77]:
#Tuples :: immutable

t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [78]:
t[0]

'foo'

In [79]:
t[4]

'quux'

In [80]:
t[-2]

'quux'

In [81]:
t[-1]

'corge'

In [83]:
t = (2, 4, 6, 8)
t

(2, 4, 6, 8)

In [84]:
type(t)

tuple

In [85]:
single_t = (10)

In [86]:
single_t

10

In [87]:
type(single_t)

int

## Single Tuple declaration

In [89]:
single_t = (10,)
single_t

(10,)

In [90]:
print(type(single_t))

<class 'tuple'>

In [91]:
single_t[0]
#single_t[1] #tuple index out of range

10

In [92]:
false_t = (111)
false_t

111

## Packing and Unpacking

In [94]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

# dictionary

In [95]:
#dictionary

MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [96]:
MLB_team['Boston']

'Red Sox'

In [97]:
MLB_team['Boston'] = "White Sox"

In [98]:
MLB_team['Boston']

'White Sox'

In [99]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [100]:
# error
MLB_team['Toronto']

KeyError: 'Toronto'

In [101]:
MLB_team['Toronto'] = 'Toronto team'

In [102]:
 MLB_team['Toronto']

'Toronto team'

In [103]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'White Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Toronto': 'Toronto team'}

## Adding an entry to an existing dictionary is simply a matter of assigning a new key and value

In [104]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'White Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Toronto': 'Toronto team',
 'Kansas City': 'Royals'}

In [105]:
del MLB_team['Seattle']

In [106]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'White Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Toronto': 'Toronto team',
 'Kansas City': 'Royals'}

In [107]:
person = {}

In [108]:
type(person)

dict

In [109]:
person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [110]:
person['children']

['Ralph', 'Betty', 'Joey']

In [111]:
person['children'][2]

'Joey'

In [112]:
person['children'][-1]

'Joey'

## Nested Dictionary

In [113]:
#nested dictionary
person['pets']

{'dog': 'Fido', 'cat': 'Sox'}

In [114]:
person['pets']['cat']

'Sox'

In [115]:
person['pets']['dog']

'Fido'

## Built-in Methods

In [116]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c':30}

# items
print(d.items())

dict_items([('a', 10), ('b', 20), ('c', 30)])

### Keys

In [117]:
# keys
print(d.keys())

dict_keys(['a', 'b', 'c'])

### values

In [118]:
# values
print(d.values())

dict_values([10, 20, 30])

# Line Continuation

In [119]:
# Line Continuation

person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [121]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) or 
    (person2_age >= 18 and person2_age <= 65) or 
    (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True