In [1]:
import numpy as np
import pandas as pd

In [2]:
# Import Seaborn dan load Data 'MPG'
import seaborn as sns
mpg = sns.load_dataset('mpg')

In [3]:
# create a list of our conditions
conditions = [
    (mpg['horsepower'] < 105),
    (mpg['horsepower'] >= 105)]

# create a list of the values we want to assign for each condition
values = ['lower '+mpg['origin'], 'upper '+mpg['origin']]

# create a new column and use np.select to assign values to it using our lists as arguments
mpg['horse_origin'] = np.select(conditions, values)

# display updated DataFrame
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,lower usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,lower usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,lower usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,lower usa