In [63]:
import numpy as np
import pandas as pd

In [64]:
# Import Seaborn dan load Data 'MPG'
import seaborn as sns
mpg = sns.load_dataset('mpg')

In [104]:
# Menampilkan Data Missing Value
df = mpg[mpg.isna().any(axis=1)]
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [105]:
# Menampilkan Index Pada Missing Value
df.index

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')